*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    background-color: #D8EDF2;
}
header{
    width: 100%;
    height: 7%;
    display: flex;
    gap: 15px;
    color: white;
    background-color: #6d788f;
    
}
.logo{
    width: 12%;
    height: 100%;
    background-color: #94bce400;
}
.logo1{
    width: 100%;
    height: 100%;
}
.lista{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #94bce400;
}
.menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 10%;
    gap: 6%;
    list-style: none;
}
.menu-hover:hover{
    padding: 2%;
    border-radius: 15%;
    background-color: #5397da;
}
.buscador{
    width: 18%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: end;
    padding-bottom: 7px;
    padding-left: 3px;
    gap: 2%;
    background-color: #94bce400;
}
.buscador1{
    width: 80%;
    height: 20%;
    padding: 10px;
    border-radius: 50px;

}
.pi-shop{
    width: 19%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: end;
    
}
.contenedor-bandera{
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #94bce400;
}
.logo-bandera{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding-top: 21%;
    background-color: #94bce400;
    
}
.blancas{
    color: white;
}
.pais-nombre{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: end;
    padding-bottom: 5px;
    background-color: #94bce400;
}
main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: #D8EDF2;
}
.titulo-index{
    width: 100%;
    height: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8EDF2;
    
}
.lema{
    font-size:x-large;
    font-family: 'Times New Roman', Times, serif;
}
.fondo-dona{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: #8ec4fa00;
    
}
.boton-max{
    border: none;
    background-color: #ffffff;

}

.boton-max{
    border: none;
    padding: 5px;
    background-color: #a1717100;

}
.productos-principal{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    background-color: #8ec4fa00;
}
.reducion{
    width: 100%;
    height: 80%;
}
.arreglar{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.aside-clas {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ec4fa00;
    padding: 20px; 
}

.promociones {
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
}

.promocion1 {
    width: 80%;
    height: 40%; 
    justify-content: center;
    display: flex;
    justify-content: center;
}
.palabra-centrar{
    width: 64%;
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.palabra-centrar1{
    width: 64%;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.palabra-centrar2{
    width: 64%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.boton-usar{
    width: 15%;
    background: linear-gradient(#412F59,#7D828C);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    height: 80%
    
}

.oferta-promocion{ 
    width: 80%; 
    height: auto; 
}

.tamano-letras{
    font-size: 30px;
}

footer{
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ad53c9;
}